# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [143]:
# import reduce from functools, numpy and pandas
from functools import reduce
import numpy as np
import pandas as pd
import re
import string as str

# Challenge 1 - Mapping

#### We will use the map function to clean up a words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [144]:
# Run this code:

location = '../58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

print(prophet[0:10])
len(prophet)

['\ufeffThe', 'Project', 'Gutenberg', 'EBook', 'of', 'The', 'Prophet,', 'by', 'Kahlil', 'Gibran\n\nThis']

13637

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [145]:
# Your code here:
'''
prophet = prophet[568:len(prophet)]
print(len(prophet))
print(prophet[0:20])
'''
x = lambda a, lista: lista[a:len(lista)]

prophet2 = x(568,prophet)

print(len(prophet2))
print(len(prophet)-len(prophet2))

##hotelName = lambda needle, heystack: bool(re.search(re.compile(needle, re.IGNORECASE), heystack))

13069
568

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [146]:
# Your code here:
print(len(prophet2))
print(prophet2[1:10])

13069
['the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [147]:
def reference_bis(x):
    x=x.split('{',1)
    return x[0]
a='the{7}'
reference_bis(a)

'the'

In [148]:
def reference(x):
    
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    
    # Your code here:
    x=x.split('{',1)
    return x[0]

    a='the{7}'
    reference(a)

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [149]:
# Your code here:
prophet_reference=list(map(reference, prophet2))

print(prophet_reference[1:10])

['the', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

In [150]:
def line_break_bis(x):
    x=x.split('\n')
    return x
a='the\nbeloved'
line_break_bis(a)

['the', 'beloved']

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [151]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # Your code here:
    return re.split(r'\n',x)
    
    '''
    x=x.split('\n',1)
    return x
    '''
    
a='the\nbeloved'
print(reference(a))

the
beloved

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [152]:
# Your code here:
prophet_list=list(map(line_break, prophet_reference))
prophet_ele=[x for x in prophet_list]

print(prophet_list[1:10])

[['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn'], ['unto']]

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [153]:
# Your code here:
prophet_flat=[y for x in prophet_list for y in x]

print(prophet_flat[0:10])

##lst = [y for x in lst_lst if len(x) < 4 for y in x if y % 2 == 0]
##huespedesMatrix=[(h,h) for h in huespedes]
##lst_h = [h['nombre'] for grupo in huespedesMatrix for h in grupo]

['PROPHET', '', '|Almustafa,', 'the', 'chosen', 'and', 'the', 'beloved,', 'who', 'was']

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [175]:
def word_filter(x):
    '''
    Input: A string
    Output: true if the word is not in the specified list and false if the word is in the list
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    if x not in ['and', 'the', 'a', 'an']:
            return True
    
print(word_filter("Pepe"))
        
##   filter1 = data["Gender"].isin(["Female"]) 
##   hotelName = lambda needle, heystack: bool(re.search(re.compile(needle, re.IGNORECASE), heystack))

True

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [170]:
prophet_filter=list(filter(word_filter,prophet_flat))

print(prophet_filter[0:10])

['PROPHET', '', '|Almustafa,', 'chosen', 'beloved,', 'who', 'was', 'dawn', 'unto', 'his']

# Bonus Challenge - Part 1

Rewrite the `word_filter` function above to not be case sensitive.

In [13]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    if x.lower() not in ['and', 'the', 'a', 'an']:
        return True

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [179]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # Your code here:
    return a+" "+b

print(concat_space("asd","zxc"))

asd zxc

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [184]:
# Your code here:
prophet_string=reduce(lambda a,b: a+" "+b,prophet_filter) 
print(len(prophet_string))
print(prophet_string[0:90])

77541
PROPHET  |Almustafa, chosen beloved, who was dawn unto his own day, had waited twelve year

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [185]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

In [187]:
# Your code here:
display(pm25.head(20))

    No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0    1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1    2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2    3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3    4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4    5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0
5    6  2010      1    1     5    NaN   -19 -10.0  1017.0   NW  16.10   0   0
6    7  2010      1    1     6    NaN   -19  -9.0  1017.0   NW  19.23   0   0
7    8  2010      1    1     7    NaN   -19  -9.0  1017.0   NW  21.02   0   0
8    9  2010      1    1     8    NaN   -19  -9.0  1017.0   NW  24.15   0   0
9   10  2010      1    1     9    NaN   -20  -8.0  1017.0   NW  27.28   0   0
10  11  2010      1    1    10    NaN   -19  -7.0  1017.0   NW  31.30   0   0
11  12  2010      1    1    11    NaN   -18  -5.0  1017.0   NW  34.43   0   0
12  13  2010      1    1    12    NaN   -19  -5.0  1015.0   NW  37.56   0   0
13  14  2010      1    1    13    NaN   -18  -3.0  1015.0   NW  40.69   0   0
14  15  2010      1    1    14    NaN   -18  -2.0  1014.0   NW  43.82   0   0
15  16  2010      1    1    15    NaN   -18  -1.0  1014.0   cv   0.89   0   0
16  17  2010      1    1    16    NaN   -19  -2.0  1015.0   NW   1.79   0   0
17  18  2010      1    1    17    NaN   -18  -3.0  1015.0   NW   2.68   0   0
18  19  2010      1    1    18    NaN   -18  -5.0  1016.0   NE   1.79   0   0
19  20  2010      1    1    19    NaN   -17  -4.0  1017.0   NW   1.79   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [188]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:
    return x/24
    
print(hourly(96))

4.0

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [191]:
# Your code here:
pm25_2=new = pm25[['Iws', 'Is', 'Ir']].copy()
pm25_hourly=pm25_2.apply(hourly)

display(pm25_hourly)

             Iws   Is   Ir
0       0.074583  0.0  0.0
1       0.205000  0.0  0.0
2       0.279583  0.0  0.0
3       0.410000  0.0  0.0
4       0.540417  0.0  0.0
...          ...  ...  ...
43819   9.665417  0.0  0.0
43820   9.907500  0.0  0.0
43821  10.112500  0.0  0.0
43822  10.280000  0.0  0.0
43823  10.410417  0.0  0.0

[43824 rows x 3 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [194]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here:
    return np.std(x)/(list(x).count()-1)

a=pd.Series([1,2,3,4])
print(sample_sd(a))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().